{% extends '@AppliFrais/base_front.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset ('public/css/style.css') }}">
    {% endblock %}

{% block body %}
    <div class="container">
        <div class="connexion">
            <h1>Espace Comptable !</h1>
        </div>
    </div>
{% endblock %}